.App {
    background-color: white;
}

body {
    background-color: lightgrey;
    padding-top: 50px;
    padding-bottom: 50px;
}

.website-name {
    text-align: center;
    font-family: "Verdana Pro";
}

.search-bar-container {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-family: Verdana Pro;
    background-color: white;
}

.wrapper {
    width: 150px;
    margin: auto;
}

.recipe-name {
    text-align: center;
    letter-space: 2px;
}

.recipe-description {
    padding: 0 450px;
    text-align: justify;
    justify-content: center;
    margin-bottom: 20px;
    letter-space: 2px;
    word-space: 20px;
}

.recipe-ingredient {
    padding: 0 250px;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.recipe-video {
    display: block;
    margin: 0 auto;
    width: 600px;
    text-align: center;
}