.website-name {
    text-align: center;
    font-family: "Verdana Pro";
}

.wrapper {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-family: Verdana Pro;
}

.recipe-name {
    text-align: center;
}

.recipe-description {
    padding: 0 200px;
    text-align: justify;
    justify-content: center;
}

.recipe-ingredient {
    padding: 0 250px;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.recipe-video {
    display: flex;
    justify-content: center;
    align-items: center;
}