.App {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 40px;
    margin: 0 425px;
    border-radius: 20px;
}

body {
    background-color: lightgrey;
    padding-top: 50px;
    padding-bottom: 80px;
}

.website-name {
    text-align: center;
    font-family: "Verdana Pro";
}

.search-bar-container {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-family: Verdana Pro;
    background-color: white;
    margin: 0 50px;
}

.wrapper {
    width: 150px;
    margin: auto;
}

.recipe-name {
    text-align: center;
    letter-space: 2px;
    padding-top: 30px;
}

.recipe-image {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 300px;
}

.recipe-description {
    font-family: sans-serif;
    font-style: italic;
    text-align: justify;
    justify-content: center;
    letter-space: 2px;
    line-height: 50px;
}

.recipe-ingredient {
    padding: 20px 250px;
    text-align: center;
    justify-content: center;
    list-style: none;
    font-family: sans-serif;
    font-style: italic;
    line-height: 50px;
}

.recipe-video {
    display: block;
    margin: 0 auto;
    width: 600px;
    text-align: center;
}